* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("../styles/Users.css");
@import url("../styles/AdminDashboard.css");




body[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
}


body[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #ffffff; 
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}


.admin_dashboard {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

/* Optional: ensure section titles stay visible */
.users_section h1 {
  color: var(--text-color);
}


.theme-toggle-btn {
  margin-top: 0;
  padding: 7px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transform: translateX(550px);
  background-color: var(--text-color);
  color: var(--bg-color);
  transition: 0.3s;
}
