.success-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.success-popup-content {
  background: #fff;
  width: 200px;            /* Square size */
  height: 200px;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  animation: popupIn 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success-popup-content h2 {
  color: #000000;
  margin-bottom: 10px;
}

.success-popup-content p {
  color: #555;
  margin-bottom: 20px;
  font-size: 15px;
}

.success-actions {
  display: flex;
  gap: 15px;
}

.success-link,
.success-popup-content button {
  background: #000000;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.2s;
}

.success-link:hover,
.success-popup-content button:hover {
  background: #151816;
}

@keyframes popupIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
