.welcome_container {
  background-color: #000;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;       /* vertically center */
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.welcome_container h1 {
  margin: 0;
  font-size: 20px;
  color: grey;
}

.welcome_container span {
  color: whitesmoke;
  font-weight: 600;
}

.logout {
  padding: 8px 18px;
  background: #e2dfdf;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.logout:hover {
  background: #d1d1d1;
  transform: scale(1.05);
}
